pyarrow
dotenv
nltk

# for transformer LLM
#transformers
#torch
#pytesseract
#sentencepiece
#sacremoses

langchain
langchain-google-genai
protobuf==3.20.3
tensorflow==2.16.2
uvicorn
fastapi

#whisper
soundfile==0.13.1
librosa
python-multipart

streamlit
requests
transformers
tf-keras
